@use 'variables' as v;
@use 'sass:color';

body {
  font-family: v.$font-family; // Fuente principal
  background-color: v.$fourth-color;  // Color de fondo (gris claro)
  color: v.$primary-color;
  margin: 0; // Elimina el margen por defecto
  padding: 0; // Elimina el padding por defecto
  background-image: url('../inicio/imagenes/fondo.png'); // Imagen de fondo
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  padding-bottom: 100px; // más que el alto del footer
}

a {
  color: v.$secondary-color;
  text-decoration: v.$text-sin;

  &:hover {
    text-decoration: v.$text-subrayado;
    color: v.$primary-color;
  }
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  font-size: v.$font-size-xl; // Tamaño grande para títulos
  color: v.$tertiary-color;
  margin-bottom: 1rem;
  text-decoration: v.$text-subrayado;
}
h2 {
  font-size: v.$font-size-xl;
  color: v.$tertiary-color; 
  margin-bottom: 1rem;
  text-decoration: v.$text-subrayado;
}
h3 {
  font-size: v.$font-size-large;
  color: v.$tertiary-color;
  margin-bottom: 0.5rem;
}
p {
  color: v.$primary-color;        // Bordó fuerte (#4b0f1f)
  font-size: 1.125rem;            // 18px (más grande que lo normal)
  font-weight: 600;               // Semi-bold
  line-height: 1.6;               // Buen espaciado entre líneas
  letter-spacing: 0.2px;          // Ligera separación de letras
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
