@use 'variables' as v;

.card {
  display: flex;
  flex-direction: column;
  height: 100%; // Para que tome el 100% del contenedor col-md-4 y que sean iguales
   opacity: 1;
  filter: brightness(1.1) contrast(1.1);
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(1.2) contrast(1.2);
  }
}


.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  ;
}

.card-title {
  color: v.$secondary-color;
  font-weight: v.$font-weight-semibold;
  margin-bottom: 0.5rem;
}

.btn {
  margin-top: auto;  // El botón siempre pegado abajo
  align-self: center; // mantiene el tamaño original y lo alinea al centro
  padding: v.$padding-button; // padding del botón
  width: auto; // asegúrate que no tome todo el ancho
}

@keyframes flotar {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-8px); }
    100% { transform: translateY(2px); }
  }

  .flotando {
    animation: flotar 2s ease-in-out infinite;
  }