@use 'variables' as v;

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  width: 8%;
}

.carousel-inner img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel-caption {
  color: v.$fourth-color;
  border-radius: 8px;
  bottom: 20px;

}.carousel {
  h3, {
    color: v.$fourth-color;
    text-decoration: v.$text-sin;
  }
}