@use 'variables' as v;
@use 'sass:color';

.carousel {
  position: relative;
  overflow: hidden;

}

.carousel-control-prev,
.carousel-control-next {
  filter: brightness(0) saturate(100%) invert(28%) sepia(76%) saturate(2500%) hue-rotate(300deg) brightness(95%) contrast(92%);
    border-radius: 50%;
    padding: 1rem;
}

.carousel-inner img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel-caption {
  color: v.$fourth-color;
  bottom: 20px;
}
 .carousel-caption h3 {
  background-color: color.scale(v.$border-color, $lightness: -10%);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.title-product {
  background-color: color.scale(v.$color-hover, $lightness: -10%);
  text-align: center;
  color: v.$secondary-color;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: v.$font-size-large;
  font-weight: v.$font-weight-semibold;
}