@use 'variables' as v;
@use 'sass:color';

header {
  background-color: v.$primary-color;
  color: v.$fourth-color;
  padding: v.$font-size-caption 0;
  background: linear-gradient(90deg, v.$primary-color 0%, color.scale(v.$tertiary-color, $lightness: -50%) 100%);
}

.navbar-nav .nav-link {
  color: v.$tertiary-color;
  font-weight: v.$font-weight-regular;
  background: linear-gradient(90deg, v.$primary-color 0%, color.scale(v.$tertiary-color, $lightness: -50%) 100%);


  &:hover,
  &:focus {
    color: v.$tertiary-color;
    text-decoration: v.$text-subrayado;
  }
}
