@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';


h1 {
  font-size: v.$font-size-xl;
  color: v.$tertiary-color;
  margin-bottom: 1rem;
  text-decoration: v.$text-subrayado;
}
h2 {
  font-size: v.$font-size-xl;
  color: v.$tertiary-color;
  margin-bottom: 1rem;
  text-decoration: v.$text-subrayado;
  @include m.heading-style(v.$font-size-xl, v.$secondary-color, 1rem, v.$text-subrayado);
}
h3 {
  font-size: v.$font-size-large;
  color: v.$tertiary-color;
  margin-bottom: 0.5rem;
   @include m.heading-style(v.$font-size-large, v.$secondary-color, 0.5rem, v.$text-subrayado);
}

p {
  color: v.$primary-color;        
  font-size: 1.125rem;            
  font-weight: 600;               
  line-height: 1.6;              
  letter-spacing: 0.2px;
}